# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

#Script d'import (optionnel)
import_oblyk_routes.py
oblyk_routes_backup.json

# Autre
run.bat
guide.md